:root {
  --color-blue: rgb(0, 150, 255);
  --color-force-dark: rgb(10, 10, 20);
  --color-force-light: rgb(255, 255, 255);
  --color-dark: rgb(10, 10, 20); 
  --color-light: rgb(255, 255, 255); 
  --header-bg-color: rgb(20, 20, 30);
  --color-search-panel: rgb(255, 255, 255);
  --bg-opacity: 0.9;
  --card-bg-color: #f4f4f4;
  --color-blue-hover: #003d80; 
  --button-text-color: #333333;
}



@media (prefers-color-scheme: dark) {
  :root {
    --color-dark: 235, 235, 245;
    --color-light: 18, 18, 28;
    --card-bg-color: #1e1e28;
    --color-force-dark: 28, 28, 36;
    --color-force-light: 245, 245, 255;
    --color-blue: 0, 150, 136;
    --color-blue-hover: 0, 122, 111;
    --button-text-color: #ffffff;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100%;
  font-family: Roboto, sans-serif;
  color: rgba(var(--color-dark), 0.9);
  background: linear-gradient(
      0deg,
      rgba(var(--color-dark), 0.2),
      rgba(var(--color-dark), 0.1)
    ),
    rgba(var(--color-light), 1);
  margin: 0;
  padding: 0;
}


option {
  background-color: rgba(var(--color-light), 1);
  color: rgba(var(--color-dark), 0.8);
}

@keyframes enter {
  from {
    transform: translateY(10rem);
  }
  to {
    transform: translateY(0);
  }
}

/* header */

.header {
  background-color: rgba(var(--header-bg-color), 0.9);
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
}

.search__panel,
.form,
#search__box,
.menu {
  background-color: rgba(var(--color-force-light), 0.9);
  color: #ffffff;
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 15px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 70rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.header__logo {
  padding: 1.5rem 0 1.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__shape {
  height: 1rem;
  margin-right: 0.75rem;
  fill: rgb(var(--color-blue));
  display: none;
}

.header__text path{
  fill: rgb(var(--color-blue));
 
}

/*
  search panel and drop-down menus
*/

.search__panel {
  background-color: rgba(var(--color-force-light), var(--bg-opacity));
}

.form {
  display: flex;
  justify-content: space-between; /* Distributes the items with space between them */
  width: 100%;
}

.menu {
  padding: 10px;
  border-radius: 20px;
  border-color: lightgray;
  margin: 5px;
  color: grey;
}

.menu-1 {
  flex-grow: 20;
}

.menu-2,
.menu-3 {
  flex-grow: 3;
  background-color: white;
}

/*
  Day/Night toggle
*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 30rem) {
  .header__shape {
    display: block;
  }
}

.header__text {
  height: 1rem;
  fill: rgba(var(--color-force-light), 1);
}

@media (min-width: 30rem) {
  .header__text {
    height: 1.25rem;
    fill: rgba(var(--color-force-light), 1);
  }
}

.header__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: rgba(var(--color-force-light), 1);
}

/* Books landing page grid */

.list {
  padding-bottom: 10rem;
}

.list__message {
  display: none;
  padding: 10rem 4rem 2rem;
  text-align: center;
}

.list__message_show {
  display: block;
}

@media (max-width: 480px) {
  #gridContainer {
    grid-template-columns: repeat(2, minmax(170px, 1fr));
    justify-content: center;
    grid-gap: 0.5rem;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .card .button {
    flex-grow: 1;
    width: 100%;
    font-size: 1em!important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px!important;
  }
}

.list__button {
  font-family: Roboto, sans-serif;
  transition: background-color 0.1s;
  border-width: 0;
  border-radius: 6px;
  height: 2.75rem;
  cursor: pointer;
  width: 50%;
  background-color: rgba(var(--color-blue), 1);
  color: rgba(var(--color-force-light), 1);
  font-size: 1rem;
  border: 1px solid rgba(var(--color-blue), 1);
  max-width: 10rem;
  margin: 0 auto;
  display: block;
}

.list__remaining {
  opacity: 0.5;
}

.list__button:not(:disabled) hover {
  background-color: rgba(var(--color-blue), 0.8);
  color: rgba(var(--color-force-light), 1);
}

.list__button:hover {
  background-color: var(--color-blue-hover);
}

.list__button:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

.list__items {
  display: grid;
  padding: 1rem 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 0.5rem;
  gap: 20px;
  margin: 0 auto;
  width: 100%;
}

.card {
  background-color: var(--card-bg-color);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 5px;
  height: 350px; 
}

.card img {
  max-width: 100%;
  width: 100%;
  max-height: 200px;
  height: 200px;
  object-fit: fill;
  border-radius: 10px 10px 7px 7px;
  flex-shrink: 0;
}

.card .title {
  font-size: 1.1em;
  font-weight: bold;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .author {
  color: gray;
  font-size: 0.9em;
  margin-bottom: 15px;
  text-overflow: ellipsis;
}

.card .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(var(--color-blue));
  color: var(--button-text-color);
  border: 1px solid rgba(var(--color-blue), 1);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;
  margin-top: auto;
}

.card .button:hover {
  background-color: var(--color-blue-hover);
}

/* preview */

.preview {
  border-width: 0;
  width: 100%;
  font-family: Roboto, sans-serif;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: left;
  border-radius: 8px;
  border: 1px solid rgba(var(--color-dark), 0.15);
  background: rgba(var(--color-light), 1);
}

@media (min-width: 60rem) {
  .preview {
    padding: 1rem;
  }
}

.preview_hidden {
  display: none;
}

.preview:hover {
  background: rgba(var(--color-blue), 0.05);
}

.preview__image {
  width: 48px;
  height: 70px;
  object-fit: cover;
  background: grey;
  border-radius: 2px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.preview__info {
  padding: 1rem;
}

.preview__title {
  margin: 0 0 0.5rem;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgba(var(--color-dark), 0.8);
}

.preview__author {
  color: rgba(var(--color-dark), 0.4);
}

/* overlay */

.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-width: 0;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  animation-name: enter;
  animation-duration: 0.6s;
  z-index: 10;
  background-color: rgba(var(--color-light), 1);
}

@media (min-width: 30rem) {
  .overlay {
    max-width: 30rem;
    left: 0%;
    top: 0;
    border-radius: 8px;
  }
}

.overlay__form {
  padding-bottom: 0.5rem;
  margin: 0 auto;
}

.overlay__row {
  display: flex;
  gap: 0.5rem;
  margin: 0 auto;
  justify-content: center;
}

.overlay__button {
  font-family: Roboto, sans-serif;
  background-color: rgba(var(--color-blue), 0.1);
  transition: background-color 0.1s;
  border-width: 0;
  border-radius: 6px;
  height: 2.75rem;
  cursor: pointer;
  width: 50%;
  color: rgba(var(--color-blue), 1);
  font-size: 1rem;
  border: 1px solid rgba(var(--color-blue), 1);
}

.overlay__button_primary {
  background-color: rgba(var(--color-blue), 1);
  color: rgba(var(--color-force-light), 1);
}

.overlay__button:hover {
  background-color: rgba(var((var(--color-blue))), 0.2);
}

.overlay__button_primary:hover {
  background-color: rgba(var(--color-blue), 0.8);
  color: rgba(var(--color-force-light), 1);
}

.overlay__input {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: rgba(var(--color-dark), 0.05);
  border-width: 0;
  border-radius: 6px;
  width: 100%;
  height: 4rem;
  color: rgba(var(--color-dark), 1);
  padding: 1rem 0.5rem 0 0.75rem;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.overlay__input_select {
  padding-left: 0.5rem;
}

.overlay__field {
  position: relative;
  display: block;
}

.overlay__label {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  font-size: 0.85rem;
  color: rgba(var(--color-dark), 0.4);
}

.overlay__input:hover {
  background-color: rgba(var(--color-dark), 0.1);
}

.overlay__title {
  padding: 1rem 0 0.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.1px;
  max-width: 25rem;
  margin: 0 auto;
  color: rgba(var(--color-dark), 0.8);
}

.overlay__blur {
  width: 100%;
  height: 200px;
  filter: blur(10px);
  opacity: 0.5;
  transform: scale(2);
}

.overlay__image {
  max-width: 10rem;
  position: absolute;
  top: 1.5m;
  left: calc(50% - 5rem);
  border-radius: 2px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.overlay__data {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgba(var(--color-dark), 0.8);
}

.overlay__data_secondary {
  color: rgba(var(--color-dark), 0.6);
}

.overlay__content {
  padding: 2rem 1.5rem;
  text-align: center;
  padding-top: 3rem;
}

.overlay__preview {
  overflow: hidden;
  margin: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay__background {
  background: rgba(var(--color-dark), 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

/* backdrop */

.backdrop {
  display: none;
  background: rgba(var(--color-dark), 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.overlay[open] ~ .backdrop {
  display: block;
}
